.mainbody {
    background-image: url("hwx_image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bodylogin {
    background-image: url("dragon_sin_logo.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

.races_button {
    background-image: url("racesbutton.png");
    background-repeat: no-repeat;
    background-size: cover;
}