.mainbody {
    background-image: url("hwx_image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bodylogin {
    background-image: url("maelbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.races_button {
    background-image: url("racesbutton.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.signupbody {
    background-image: url("signupbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bodycontentadd {
    background-image: url("content_add_hawk.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.contentbackground {
    background-image: url(content_background.png);
    background-repeat: no-repeat;
    background-size: cover;
}