.mainbody {
    background-image: url("holy_war_x_land.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bodylogin {
    background-image: url("hwx_image.png");
    background-repeat: no-repeat;
    background-size: cover;
}