<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title></title>
</head>
<body class="contentbackground">
    <div class="flex justify-center items-center h-screen">
        <div class="bg-black/75 p-5 h-175 flex-initial size-250 border-1 border-white rounded-2xl">
            <div class="bg-white p-5 m-5 rounded-2xl border-1 border-black">
                <div>
                   
                    <h1 class="text-center text-4x1 font-bold color-white ">
                        {% for i in type%}
                            {{i}}
                        {% endfor %}
                    </h1>
                    
                </div>
            </div>
        </div>
    </div>   
</body>
</html>