<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title></title>
</head>
<body class="contentbackground flex flex-col content-center">
    <div class="h-[10vh]">
        <a href="/main" class="backbuttonimage rounded-3xl p-5 absolute w-50 h-25">    
        </a>
    </div>
    <div class="flex justify-center items-center ">
        <div class="bg-black/75 p-5 m-5 w-1/2 border-1 border-white rounded-2xl h-full">
            <div class="bg-white p-5 m-5 rounded-2xl border-1 border-black">
                <div>
                    <h1 class="text-center text-4x1 font-bold text-4xl">
                        {{type}}
                    </h1>
                </div>
            </div>

            <div class="text-white font-bold">
                {% for i in range(title|length) %}
                    <div class="mt-10 text-xl">
                        <h1>{{title[i][0]}}</h1>
                    </div>
                    <div class="text-gray-100">
                        {{content[i][0]}}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>   
</body>
</html>