<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Main Page</title>
</head>
<body class="mainbody flex justify-center items-center h-screen">
    <div class="mainbox bg-black p-5 h-175 flex-initial size-150 opacity-60 border-width: 1px rounded-2x1">
        <div class="lablebox bg-white p-5 m-5 rounded-2x1 opacity-100">
                <h1 class="text-center text-4x1 font-bold opacity-100">
                    HOLY WAR X
                </h1>
        </div>
    </div>
</body>
</html>